#calendrier {
    font-family: Arial, sans-serif;
    /* width: 300px; */
    margin: 20px auto;
    text-align: center;
}
.week-row, .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day-header, .day, .empty-day {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 1px;
}
.day {
    cursor: pointer;
}
.day:hover {
    background-color: #f0f0f0;
}
.empty-day {
    background-color: #f9f9f9;
}


.container-info-cal{
    display: flex;
}

.infoDivCours{
    display: flex;
    padding: 10px;
    background-color: #ffffff78;
    width: min-content;
    gap: 40px;
    margin: 10px;
    max-width: 250px;
}

.infoDivCours p {
    width: min-content;
}


.infoDivCours p:first-child {
    width: max-content;
}
