.titreSection{
    margin: 5em;
    text-align: center;
}

.cheval-image-droite{
    width: 75%;
    height: 80%;
    position: absolute;
    /* margin-left: calc((60vw - 80%) / 2); */
    right: 2em;
    margin-top: 2em;
}

.droite{
    bottom: auto;
    padding-right: 0;
}

.gauche{
    bottom: auto;
    
    padding-left: 0;
}

.gauche img{
    margin-top: 2em;
}

.sectionPage{
    height: 100vh;
}

.erreur, .succes{
    display:none; 
    padding:10px; 
    border-radius:10px; 
    border: solid 2px black; 
    height:20px; 
    position:fixed; 
    top:10px; 
    right: 10px;
}

.erreur{
    background-color:red; 
}


.succes{
    background-color:greenyellow; 
}