


@media screen and (max-width: 768px){
    /* sous page */
    .droite-section{
        display: none;
    }
   
    .gauche-section{
        width: 100vw;
    }
    .titreSection {
        margin: 4em !important;
    }

    .sectionPage {
        height: 100vh !important;
    }

    h1 {
        margin-top: 1em;
    }

    .gauche > * {
        margin-left:0;
    }


    /* calendrier */
    #calendrier *, #calendrier-disponibilite * {
        padding: 10px !important;
    }

    .container-info-cal {
        display: block !important;
    }

    table{
        /* margin-left: 0 !important; */
        border-collapse: collapse;
        border: none;
    }
    th{
        max-width: min-content;
        font-size:10px;
    }

    td {
        height: auto;
        width: max-content;
    
    }

    .planningCal{
        margin: 10px;
        width: calc(100% - 20px);
    }



    /* index */
    #login img, #signIn img{
        display: none;
    }



    .login > section, .signIn > section {
        padding: 10px;
        width: 100%;
        position: absolute;
        color: #eee;
        margin-top: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login > section * , .signIn > section *{
        width: min-content;
    } 

    .login > section p , .signIn > section p{
        margin-left: 9%;
        width: 70%;
    } 

    .login > section h2 , .signIn > section h2{
        margin-bottom: 0;
    } 

    /* .login > section form , .signIn > section form{
        margin-left: 1em;
    }  */

    .login, .signIn {
        position: absolute;
        width: 70vw;
        height: 82vh;
        margin-left: calc((100vw - 70vw) / 2);
        z-index: 3;
        background-color: #495B4B;
        position: relative;
        border-radius: 42px;
        display: none;
    }

}   
